@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* main navbar header */
h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    text-transform: lowercase;
    color: #1E2D2F;
}

/* modal header */
h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #1E2D2F;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: .4em;
    text-decoration-color: #7C9082;
    text-underline-offset: .75em;
}

/* card header */
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: .5em;
    text-decoration-color: #C57B57;
    text-underline-offset: 1em;
}

p {
    font-family: 'Raleway', sans-serif;
    color: #1E2D2F;
}

.caption {
    font-family: 'Raleway', sans-serif;
    font-size: 10pt;
    color: #C57B57;
    font-weight: 700;
    text-transform: uppercase;
}

.aside {
    font-family: 'Raleway', sans-serif;
    font-size: 8pt;
    font-weight: 600;
    color: #7C9082;
}

.card {
    border: 0px;
}

.card-br {
    border: 3px solid #7C9082;
    padding: 2em;
    margin: 3em;
    border-radius: 0;
}

.card-be {
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 3em; 
    margin-right: 3em; 
}

.card-img-hover {
    border-radius: 0;
}

.card-img-hover:hover {
    cursor: pointer;
}

.list-group-item, .list-group {
    border: 0px;
    background-color: #7C9082;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 14px;
}

.card-text > a {
    color: #7C9082;
    font-weight: 600;
}

img.profile {
    border-radius: 50%;
    max-width: 200px;
}

.modal-img {
    max-width: 100%;
    margin: 0 auto;
}

.modal-header {
    border: 0px;
}

.modal-content {
    border-radius: 0;
}

button.close {
    background-color: white;
    border: none;
}

.divider {
    border: .5px solid #7C9082;
}